include LICENSE.txt
include README.md
include CHANGELOG.md
include SPEC.md
include GLOSSARY.md
include VERSIONING.md
include CONFORMANCE*.md
include IMPLEMENTATION-PHASE3.md
graft docs
graft tests
global-exclude *.py[cod]
recursive-include vectors *.json
